.sidenav-body{
    height: 920px;
    margin-top: 16px;
}

.fa-icon{
    padding-right: 8px;
}

.side-search-bar {
     padding: 12px 4px;
}

.side-nav-search-bar{
    background-color: black !important;
    color: white !important;
}
    
.side-nav-search-icon{
    background-color: black !important;
    color: white !important;
}
