
.explore-title{
    padding: 36px 0px 24px 12px;
}

.explore-cards-frame{
    padding: 0px 8% 48px 8%;
    display: flex;
    justify-content: center;
    max-height: 800px;
}

@media screen and (min-width: 1280px) {
    .explore-other-species-frame {
        padding: 0 8%;
    }
}

