.BrowsePage{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 8px;
};

.browse-row{
    width: 100%;
}

.browse-header{
    padding: 0px 12px 0px 12px;
}

.no-products-header{
    padding: 24px 12px;
    text-align: center;
}

.page_loader{
    height: 800px;
    width: 100%;
    display: flex; 
    justify-content: center;
    padding-top: 24px;
}



