.CartPage {
    display: flex;
    flex-direction: column;
    padding: 0px 5%;
}

.cart-header {
    padding: 0px 12px;
}

.cart-is-empty-frame {
    display: flex;
    justify-content: center;
    padding: 24px 12px;
}

.cart-is-empty-header {
    font-size: 18px;
}

.cart-category-header-section {
    display: flex;
    justify-content: flex-start;
    padding: 36px 12px 0px 12px;
}


.subtotal-checkout-shipping-frame {
    display: flex;
    padding: 12px 4px 36px 4px;
}

.subtotal-frame {
    display: flex;
    justify-content: flex-end;
    padding: 12px 0px 24px 0px;
}

.subtotal-header {
    padding: 0px 12px 0px 0px;
}

.continue-shopping-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 16px;
}

.cont-shop-button, .checkout-button {
    min-width: 160px;
    max-width: 180px;
}


.continue-shopping-text {
    padding-left: 8px;
}

.checkout-button {
    transition: 100ms;
    /* padding: 12px 0px; */
    margin-left: 8px;
    /* min-width: 160px; */
}

.checkout-button:hover {
    background-color: #2ea3e2 !important;

}

.checkout-button-contents {
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkout-button-text {
    padding: 0px 0px 0px 8px;
    color: white;
}

.checkout-button-icon{
    color: white;
}

.cart-over-max-frame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 24px 0px 0px 0px;
}

.cart-over-max-header{
    color: red;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    /* padding: 24px 0px 0px 0px; */
}

.cart-over-max-text{
    color: red;
    text-align: center;
    /* padding: 8px 0px 0px 0px; */
}

.ship-info-text {
    color: gray;
    font-style: italic;
    padding: 20px 0px 0px 0px;
}

.loader {
    display: flex;
    justify-content: center;
    padding: 36px;
}

@media screen and (min-width: 820px) {

    .item-category-header {
        flex-grow: 2;
        width: 50%;
    }

    .quantity-category-header {
        width: 20%;
        flex-grow: 1;
        padding-left: 8px;
    }

    .price-category-header,
    .total-category-header {
        width: 15%;
        flex-grow: 1;
    }

    .subtotal-checkout-shipping-frame {
        flex-direction: column;
        align-items: flex-start;
    }

    .shopping-checkout-frame {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .cont-shop-button,
    .checkout-button {
        width: 25%;
    }

}

@media screen and (min-width: 700px) and (max-width: 820px) {

    .item-category-header {
        flex-grow: 2;
        width: 50%;
    }

    .quantity-category-header {
        width: 0%;
        color: white;
    }

    .price-category-header,
    .total-category-header {
        width: 15%;
        flex-grow: 1;
    }

    .subtotal-checkout-shipping-frame {
        flex-direction: column;
        align-items: flex-start;
    }

    .shopping-checkout-frame {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

}

@media screen and (min-width: 480px) and (max-width: 700px) {

    .cart-header {
        text-align: center;
    }

    .item-category-header {
        flex-grow: 2;
        width: 70%;
        font-size: 18px;
    }

    .quantity-category-header {
        width: 0%;
        color: white;
    }

    .price-category-header,
    .total-category-header {
        width: 12%;
        flex-grow: 1;
        font-size: 18px;
    }

    .subtotal-header,
    .subtotal-number {
        font-size: 18px;
    }

    .subtotal-checkout-shipping-frame {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .shopping-checkout-frame {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

@media screen and (min-width: 0px) and (max-width: 480px) {

    .cart-header {
        text-align: center;
        font-size: 28px;
    }

    .item-category-header {
        flex-grow: 2;
        width: 70%;
        font-size: 18px;
    }

    .quantity-category-header {
        width: 0%;
        color: white;
    }

    .price-category-header {
        width: 8%;
        flex-grow: 1;
        font-size: 18px;
    }

    .subtotal-header,
    .subtotal-number {
        font-size: 18px;
    }

    .subtotal-checkout-shipping-frame {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .shopping-checkout-frame {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}